<div class="container">
  <div class="jumbotron">
    <h1>Stock Market</h1> 
  </div>
  
  <img class="img-responsive" src="http://image3.mouthshut.com/images/imagesp/925629042s.jpg">
  <h3> Stock is a share in the ownership of a company.
	</h3> 
	<br>
	<h4>
		Why does a company issue stock? Why would the founders share the profits with thousands of people when they could keep profits to themselves?
		The reason is simple! They need to raise money. To do this, they can either borrow from somebody or raise it by selling part of the company, which is known as issuing stock. 

	</h4>
	<br>
	<h4>
		Stock is generally more volatile compared with other financial products such as FD and unit trust.
		The reason behind is business structure/model might change/adjust depending on global/local economy/demand/sentiment,etc.

		</h4>








 <div class="container-fluid">
  <div class="text-center">
    <h2><strong>Decide your investment portfolio</strong></h2>
  </div>


 <div class="row slideanim">
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Finance Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>


  
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Construction Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>


 
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Consumer Products Sector </h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>
 </div>

 <div class="row slideanim">
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Technology Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>


  
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Properties Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>


 
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Trading/Services Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>
 </div>


	<div class="form-group">
       <input type="integer">
       <input type="submit" value="Deposit">
    </div>


















</div>