<div class="container">
  <div class="jumbotron">
    <h1>Stock Market</h1> 
  </div>
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("SM1.JPG") %>
    </div>

    <div class="item">
      <%= image_tag("SM2.JPG") %>
    </div>

    <div class="item">
      <%= image_tag("SM3.JPG") %>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
 </div>








 <div class="container-fluid">
  <div class="text-center">
    <h2><strong>Decide your investment portfolio</strong></h2>
  </div>


 <div class="row slideanim">
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Finance Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>


  
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Construction Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>


 
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Consumer Products Sector </h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>
 </div>

 <div class="row slideanim">
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Technology Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>


  
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Properties Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>


 
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Trading/Services Sector</h1> 
  		</div>
		<h2> Volatility: </h2>
  		<h2> Historical Return: </h2>
     </div>
   </div>
 </div>


	<div class="form-group">
       <input type="integer">
       <input type="submit" value="Deposit">
    </div>


















</div>