<div class="container">
  <div class="jumbotron">
    <h1>Unit Trust</h1> 
  </div>
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("UT1.JPG") %>
    </div>

    <div class="item">
      <%= image_tag("UT2.JPG") %>
    </div>

  </div>

 <div class="container-fluid">
  <div class="text-center">
    <h2><strong>Please choose your unit trust fund</strong></h2>
  </div>


 <div class="row slideanim">
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
       <div class="jumbotron">
   		   <h1>Fund A</h1> 
  		 </div>
		     <h2> Potential Yield: 3% - 5% </h2>
  		   <h2> Current NAV: RM 0.90 </h2>
     </div>
   </div>
  
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Fund B</h1> 
  		</div>
    <h2> Potential Yield: 4% - 8% </h2>
      <h2> Current NAV: RM 0.30 </h2>
     </div>
   </div>
 
   <div class="col-sm-4 col-xs-12">
     <div class="panel panel-default text-center">
        <div class="jumbotron">
   			<h1>Fund C</h1> 
  		</div>
    <h2> Potential Yield: 5% - 10% </h2>
      <h2> Current NAV: RM 0.25 </h2>
     </div>
   </div>
 </div>


	<div class="form-group">
       <input type="integer">
       <input type="submit" value="Deposit">
    </div>
      <div class="form-group">
        <input type="submit" value="Progress Bar">
        <input type="submit" value="Re-invest">
        <input type="submit" value="Sell">
      </div>
    <br>
  

  <h3>
    <strong>Investment Overview:</strong><br>
    Funds available: RM <strong>1000</strong> <br>
    Funds actually invested: RM <strong>950</strong><br>
    Initial Investment: <strong>3619.61</strong> units <br>
    <br>

    <strong>Current Value</strong><br>
    New nav price is now: <strong>0.1838</strong> <br>
    <br>
    <strong>What would you like to do?</strong><br>

    <strong>Investment Summary:</strong><br>
    Total value of investment: RM <strong>681.89</strong> <br>
    Annualized rate of return <strong>-31.81%</strong> <br>
  </h3>



    <strong>Gains From Investment:</strong><br>
    Dividend announce is: <strong>0.0246</strong> <br>
    With the dividend obtained, total units now is: <strong>3708.87</strong> <br>
    <br>
</div>