/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



#summary-container {
  padding-right: 0px;
  padding-left: 0px;
  
}

#flashes {
  position: absolute;
  /* margin: auto; */
  top: 10%;
  left: 15%;
  width: 70%;
  z-index: 9000;
}

.alert {
  width: 40%;
  text-align: center;
  margin: auto;
}

.alert-notice {
  @extend .alert-danger;
}

#open-navbar-button {
  font-family: 'Comfortaa'; 
  font-size: 28px;
  position: fixed;
  top: 1%;
  left: 0;
  width: 2%;
  background-color: #DBDBDB;
  padding-left: .2%;
  padding-right: .5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  color: #787878;
  cursor: pointer;
  /*transition: 0.3s;*/
  z-index: 1;
}

#financial_product {
  cursor: pointer;
}

#open-navbar-button:hover {
  color: #5C5C5C;
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */    
  border-right: 1px  solid #B9CCFF;
}

/* The navigation menu links */
.sidenav>a {
  text-align: center;
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #B9CCFF;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
/*  padding: 20px;
*/}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*body {
	background-color: #F8F8F8;
}*/

/* logo */
#left, #mid, #right{
  display:inline;
  font-family: 'Niconne', cursive;
  color:white;
}

#mid{
  font-size:20px;
}

#wrap{
  margin-top:3%;
  position:relative;
  width:97px;
  height:97px;
  border:2px solid white;
  border-radius:50%;
  padding-top:30px;
  transition:border 2s ease-in-out;
  animation: change 2s infinite;
}
#left{
  margin-left:20px;
  opacity:0;
  transition:margin-left 2s ease-in-out, opacity 1s ease-in-out;
  animation: changeleft 2s infinite;
}
#mid{
  margin-left:-10px;
  transition:margin-left 2s ease-in-out, color 1s ease-in-out;
  animation: changemid 2s infinite;
}
#right{
  margin-left:-30px;
  opacity:0;
  transition:margin-left 1s ease-in-out, opacity 1s ease-in-out;
  animation: changeright 2s infinite;
}

.logo{
  margin-left:45vw;
}

body{
  background:grey;
}

#logo{
  text-decoration:none;
}
@keyframes change{
  50%{
    border-width:2px;
    border-style:solid;
    border-color:transparent;
  }
}

@keyframes changeright{
  50%{
    margin-left:-10px;
    opacity:1;
  }
}

@keyframes changeleft{
  50%{
    margin-left:10px;
    opacity:1;
  }
}

@keyframes changemid{
  50%{
    border:3px solid transparent;
    margin-left:-10px;
    color: #8b4513;
    text-shadow:
    -1.2px -1.2px 0 #e5c100,
    1.2px -1.2px 0 #e5c100,
    -1.2px 1.2px 0 #e5c100,
    1.2px 1.2px 0 #e5c100;   
    
  }
}

/* lg mode */
#left-lg, #mid-lg, #right-lg{
  font-family: 'Righteous', cursive;
}


#left-lg, #right-lg{
  display:inline;
  font-family: 'Niconne', cursive;
  color: #8b4513;
  text-shadow:
    -1.2px -1.2px 0 #e5c100,
    1.2px -1.2px 0 #e5c100,
    -1.2px 1.2px 0 #e5c100,
    1.2px 1.2px 0 #e5c100;
}

#mid-lg{
  font-size:40px;
  color: #e5c100;
}

#wrap-lg{
  margin-top:2%;
  position:relative;
  width:200px;
  height:200px;
  padding-top:40px;
  transition:border 2s ease-in-out;
  animation: change 2s infinite;
}
#left-lg{
  font-size: 30px;
  margin-left:20px;
  overflow:hidden;
  float:left;
  padding-top:22px;
  opacity:0;
  transition:margin-left 2s ease-in-out, opacity 1s ease-in-out;
  animation: changeleft 2s infinite;
}
#mid-lg{
  display:inline-block;
  overflow:hidden;
  float:left;
  padding:5%;
  border:3px solid;
  border-radius:50%;
  margin-left:-20px;
  transition:margin-left 2s ease-in-out, color 1s ease-in-out;
  animation: changemid 2s infinite;
  
}
#right-lg{
  font-size: 30px;
  overflow:hidden;
  margin-left:-30px;
  float:left;
  padding-top:22px;
  opacity:0;
  transition:margin-left 1s ease-in-out, opacity 1s ease-in-out;
  animation: changeright 2s infinite;
}

.logo-nav{
  height:120px;
}

#wrap-nav{
  
  position:relative;
  width:200px;
  height:120px;
  margin-left:115px;
  transition:border 2s ease-in-out;
  animation: change 2s infinite;
}