/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#flashes {
  position: absolute;
  /* margin: auto; */
  top: 10%;
  left: 15%;
  width: 70%;
  z-index: 9000;
}

.alert {
  width: 40%;
  text-align: center;
  margin: auto;
}

.alert-notice {
  @extend .alert-danger;
}

#open-navbar-button {
  font-family: 'Comfortaa'; 
  font-size: 28px;
  position: fixed;
  top: 1%;
  left: 0;
  width: 2%;
  background-color: #DBDBDB;
  padding-left: .2%;
  padding-right: .5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  color: #787878;
  cursor: pointer;
  /*transition: 0.3s;*/
}

#open-navbar-button:hover {
  color: #5C5C5C;
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */    
  border-right: 1px  solid #B9CCFF;
}

/* The navigation menu links */
.sidenav a {
  text-align: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #B9CCFF;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*body {
	background-color: #F8F8F8;
}*/