// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body {
	background-color: #F8F8F8;

}*/

/*.background {
	position:fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 10;
	
}*/

.jumbotron {
	background-image: url('index-jumbotron.jpg');
	height: 32em;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
  background-position-y: -15em;
  /*padding: -20px;*/
  opacity: 0.7;
  margin: 0;
}

@media(max-width: 1127px){
	background-position-x: 0;
	height: 10em;
}

#welcome-goals {
	background: rgba(255,255,255,0.65);
	width: 500px;
	margin: auto;
}

#welcome-goals:hover {
	background: rgba(255,255,255,0.8);
}

#welcome-back {
  font-family: 'Comfortaa', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: black;
  font-size: 100px;
  margin-bottom: 75px;
  text-align: center;
}

.goal {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  color: black;
  opacity: 1;
  padding: 10px;
}

#welcome-financial-goal {
	padding-bottom: 0;
	font-weight: 600;
}

#welcome-current-balance {
	padding-top: 0;
	font-weight: 600;
}

.container {
	width: 80%;
	
	color: #404040;
}

#instructions {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	font-size: 30px;
	text-align: center;
	margin-bottom: 25px;
}

label {
	color: #565a5c;
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom: 10px;
}

.font_awesome {
	margin-left: 100px;
}

.fa {
	color: #565a5c;
}


.preview {
	font-size: 20px;
	color: black;
}

.preview:hover, .preview:focus {
	text-decoration: none;
	color: #9babb9;
	cursor: pointer;
}

.preview:hover img {
	margin-top: -5px;
}

.img-thumbbail:hover img{
	margin-top: -5px;
}

/*
.jumbotron {
	width: 60%;
	position: center;
	margin: 20px auto;
}*/

/* Unit Trust Game CSS */
/* to remove top table border of the buy button */
#buy_btn{
	border-top: 0;
}

/* auto row numbering for table */
#holdings_summary table {
    counter-reset: rowNumber;
}

#holdings_summary table tbody tr{
    counter-increment: rowNumber;
}

#holdings_summary table tbody tr td:first-child::before {
    content: counter(rowNumber);
}