<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="avatar"></div>
  <a href="#">Game 1</a>
  <a href="#">Game 2</a>
  <%= link_to "Sign Out", sign_out_path, method: :delete %>
</div>

<div onclick="openNav()" id="open-navbar-button">></div>